.chat-block{
    width: 80px;
    height: 80px;
    position: fixed;
    bottom: 10vh;
    right: 10vh;
    z-index: 30;
}
.chat:hover{
    cursor: pointer;
}

.whatsapp{
    transform: translateY(-205px);
    transition: all 0.4s ease-in;
}
.messenger{
    transform: translateY(-145px);
    transition: all 0.4s ease-in;
}
.telegram{
    transform: translateY(-85px);
    transition: all 0.4s ease-in;
}
.chat{
    width: 100%;
    height: 100%;
    background-image: url('svg/004-chat.svg');
    background-size: cover;
}

.chat-lista{
    right: -10px;
    position: relative;
    z-index: -50;
    top: -60px;
}
.lista-social{
    position: absolute;
}
.move{
    width: 50px;
    height: 50px;
    margin: 5px;
}
.move:hover{
    animation: shake 600ms;
    text-decoration: none;
}

@keyframes shake{
    0%{
        transform: rotateZ(0);
    }
    10%{
        transform: rotateZ(-30deg);
    }
    20%{
        transform: rotateZ(15deg);
    }
    30%{
        transform: rotateZ(-10deg);
    }
    40%{
        transform: rotateZ(7.5deg);
    }
    50%{
        transform: rotateZ(-6deg);
    }
    60%{
        transform: rotateZ(5deg);
    }
    70%{
        transform: rotateZ(-4.28571deg);
    }
    80%{
        transform: rotateZ(3.75deg);
    }
    90%{
        transform: rotateZ(-3.33333deg);
    }
    100%{
        transform: rotateZ(0);
    }
}